<h1>Pending Approval</h1>

<div class="pending-approval-container">
  <% @cars.each do |car| %>
    <div class="car-pending-admin" id="<%= dom_id(car) %>">
      <h2><%= car.car_name %></h2>
      <% if car.image.present? %>
        <img src="<%= car.image %>" alt="<%= car.car_name %>">
      <% else %>
        <img src="fallback_image.png" alt="Fallback Image">
      <% end %>
      <p><strong>Make:</strong> <%= car.car_make %></p>
      <p><strong>Transmission:</strong> <%= car.transmission %></p>
      <p><strong>Fuel Type:</strong> <%= car.fuel_type %></p>
      <p><strong>Features:</strong> <%= car.features %></p>
      <p><strong>Price per Day:</strong> <%= car.price_per_day %></p>
      <p><strong>Number of Seats:</strong> <%= car.number_of_seat %></p>
      <p><strong>Status:</strong> <%= car.status %></p>
      <p><strong>Address:</strong> <%= car.address %></p>
      <p><strong>Owner Name:</strong> <%= car.user.name %></p>
      <p><strong>Owner Email:</strong> <%= car.user.email %></p>
      <p><strong>Owner Phone:</strong> <%= car.user.phone_number %></p>
      <div class="admin-actions">
        <%= link_to 'Approve', approve_admin_car_path(car), method: :patch, data: { turbo_method: :patch, turbo_action: 'remove', confirm: 'Are you sure you want to approve this car?' }, class: 'btn btn-success' %>
        <%= link_to 'Reject', reject_admin_car_path(car), method: :patch, data: { turbo_method: :patch, turbo_action: 'remove', confirm: 'Are you sure you want to reject this car?' }, class: 'btn btn-danger' %>
      </div>
    </div>
  <% end %>
</div>
