<!-- app/views/notifications/show.html.erb -->
<h1>Notification Details</h1>

<div class="notification-details card">
  <p><strong>Message:</strong> <%= @notification.message %></p>
  <% if @notification.notifiable_type == 'Rental' %>
    <% rental = @notification.notifiable %>
    <% user = rental.user %>
    <% car = rental.car %>

    <div class="rental-details">
      <div class="renter-info card">
        <h2>Renter Information</h2>
        <p><strong>ID:</strong> <%= user.id %></p>
        <p><strong>Name:</strong> <%= user.name %></p>
        <p><strong>Email:</strong> <%= user.email %></p>
        <p><strong>Phone:</strong> <%= user.phone_number %></p>
      </div>
      <div class="car-info card">
        <h2>Car Information</h2>
        <p><strong>Car:</strong> <%= car.car_name %> (<%= car.car_make %>)</p>
        <img src="<%= car.image %>" alt="<%= car.car_name %> image" class="car-image">
        <p><strong>Rental Start Date:</strong> <%= rental.start_date.strftime("%Y-%m-%d %H:%M") %></p>
        <p><strong>Rental End Date:</strong> <%= rental.end_date.strftime("%Y-%m-%d %H:%M") %></p>
        <p><strong>Cost:</strong> $<%= number_with_delimiter(car.price_per_day * (rental.end_date - rental.start_date).to_i) %></p>
      </div>
    </div>
    <p><strong>Request Date:</strong> <%= rental.created_at.strftime("%Y-%m-%d %H:%M") %></p>

    <% if current_user == @notification.recipient %>
      <% if rental.status == 'pending' && car.user == current_user %>
        <div class="actions">
          <%= link_to 'Approve', approve_notification_path(@notification), data: { turbo_method: :patch }, class: 'btn btn-success' %>
          <%= link_to 'Reject', reject_notification_path(@notification), data: { turbo_method: :patch }, class: 'btn btn-danger' %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<!-- Add some basic styling -->
<style>
  .rental-details {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .renter-info, .car-info {
    width: 45%;
  }
  .car-info img {
    max-width: 100%;
    height: auto;
  }
</style>
