<%= form_with(model: rental, local: true) do |form| %>
  <% if rental.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rental.errors.count, "error") %> prohibited this rental from being saved:</h2>
      <ul>
        <% rental.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :car_id %>
    <%= form.collection_select :car_id, Car.where(approved: true), :id, :car_name, prompt: "Select a car" %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_field :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_field :end_date %>
  </div>

  <div class="field">
    <%= form.label :driving_license %>
    <%= form.text_field :driving_license %>
  </div>

  <div class="field">
    <%= form.label :id_proof %>
    <%= form.text_field :id_proof %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
