<%= form_with(model: @rental, local: true) do |form| %>
  <%= form.hidden_field :car_id, value: params[:car_id] %>
  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date %>
  </div>
  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :end_date %>
  </div>
  <div class="field">
    <%= form.label :driving_license %>
    <%= form.text_field :driving_license %>
  </div>
  <div class="field">
    <%= form.label :id_proof %>
    <%= form.text_field :id_proof %>
  </div>
  <div class="actions">
    <%= form.submit 'Request to Rent' %>
  </div>
<% end %>
