<h1>Request to Rent <%= @car.car_name %></h1>

<%= form_with(model: @rental, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :start_date %>
    <%= form.date_field :start_date, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :end_date %>
    <%= form.date_field :end_date, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :driving_license %>
    <%= form.text_field :driving_license, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :id_proof %>
    <%= form.text_field :id_proof, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :driving_license_front_image %>
    <%= form.hidden_field :driving_license_front_image, data: { target: "qrcode.frontImage" } %>
    <video data-target="qrcode.frontVideo" autoplay></video>
    <canvas data-target="qrcode.frontCanvas" style="display:none;"></canvas>
    <button type="button" data-action="click->qrcode#captureFrontImage">Capture Front Image</button>
  </div>
  <div class="form-group">
    <%= form.label :driving_license_back_image %>
    <%= form.hidden_field :driving_license_back_image, data: { target: "qrcode.backImage" } %>
    <video data-target="qrcode.backVideo" autoplay></video>
    <canvas data-target="qrcode.backCanvas" style="display:none;"></canvas>
    <button type="button" data-action="click->qrcode#captureBackImage">Capture Back Image</button>
  </div>
  <%= form.hidden_field :car_id, value: @car.id %>
  <%= form.submit "Request to Rent", class: "btn btn-primary" %>
<% end %>
