<h1>Cars</h1>
<p><%= pluralize(@cars.count, 'car') %> found</p>

<div class="filter-container" data-controller="date-picker car filter">
  <input type="text" class="search-input" placeholder="Specific address, station, subway station...">
  <div class="date-time-picker">
    <input type="text" data-date-picker-target="startDate" class="date-input" placeholder="Pickup Date">
    <input type="text" data-date-picker-target="startTime" class="time-input" placeholder="Pickup Time">
  </div>
  <div class="date-time-picker">
    <input type="text" data-date-picker-target="endDate" class="date-input" placeholder="Return Date">
    <input type="text" data-date-picker-target="endTime" class="time-input" placeholder="Return Time">
  </div>
  <div>
    <button class="filter-button dropdown-toggle" data-action="click->car#toggle">Vehicle type</button>
    <div class="dropdown-menu" data-car-target="menu">
      <h3>VEHICLE TYPE</h3>
      <div class="vehicle-types">
        <button class="vehicle-type" data-action="click->car#selectType" data-type="Commercial">
          <i class="fas fa-truck"></i> Commercial
        </button>
        <button class="vehicle-type" data-action="click->car#selectType" data-type="City">
          <i class="fas fa-car"></i> City
        </button>
        <button class="vehicle-type" data-action="click->car#selectType" data-type="Sedan">
          <i class="fas fa-car-side"></i> Sedan
        </button>
        <button class="vehicle-type" data-action="click->car#selectType" data-type="Family">
          <i class="fas fa-caravan"></i> Family
        </button>
        <button class="vehicle-type" data-action="click->car#selectType" data-type="Minibus">
          <i class="fas fa-shuttle-van"></i> Minibus
        </button>
        <button class="vehicle-type" data-action="click->car#selectType" data-type="4x4">
          <i class="fas fa-car"></i> 4x4
        </button>
        <button class="vehicle-type" data-action="click->car#selectType" data-type="Convertible">
          <i class="fas fa-car"></i> Convertible
        </button>
        <button class="vehicle-type" data-action="click->car#selectType" data-type="Coupe">
          <i class="fas fa-car"></i> Coupe
        </button>
        <button class="vehicle-type" data-action="click->car#selectType" data-type="Antique">
          <i class="fas fa-car"></i> Antique
        </button>
        <button class="vehicle-type" data-action="click->car#selectType" data-type="Campervan">
          <i class="fas fa-caravan"></i> Campervan
        </button>
        <button class="vehicle-type" data-action="click->car#selectType" data-type="SUV">
          <i class="fas fa-car"></i> SUV
        </button>
      </div>
      <div class="dropdown-actions">
        <button class="reset-button" data-action="click->car#resetFilters">Reset</button>
        <button class="apply-button" data-action="click->car#applyTypes">Apply</button>
      </div>
    </div>
  </div>
  <button class="filter-button">Reserved parking</button>
  <button class="filter-button" data-action="click->filter#toggle">More filters</button>
</div>

<div class="main-container">
  <div class="cars-list-container">
    <div class="cars-container">
      <%= render partial: 'cars/car_list', locals: { cars: @cars } %>
      <% if current_user %>
        <%= link_to 'Add New Car', new_car_path, class: 'add-car-button' %>
      <% end %>
    </div>
  </div>
  <div class="map-container" data-controller="map" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" data-map-markers-value='<%= @markers.to_json %>'>
    <div id="map"></div>
  </div>
</div>
<%= render 'shared/filters_modal' %>

