<h1><%= @car.car_name %></h1>

<% if @car.image.present? %>
  <img src="<%= @car.image %>" alt="<%= @car.car_name %>" class="car-show-image" />
<% else %>
  <img src="default_image_path.jpg" alt="Default Image" class="car-show-image" />
<% end %>

<p><strong>Make:</strong> <%= @car.car_make %></p>
<p><strong>Price per Day:</strong> <%= @car.price_per_day %></p>
<p><strong>Status:</strong> <%= @car.status %></p>
<p><strong>Minimum Rental Duration:</strong> <%= @car.min_rental_duration %> days</p>
<p><strong>Maximum Rental Duration:</strong> <%= @car.max_rental_duration %> days</p>
<p><strong>Minimum Advance Notice:</strong> <%= @car.min_advance_notice %> days</p>
<p><strong>Availability:</strong> <%= @car.availability_start_date %> to <%= @car.availability_end_date %></p>
<p><strong>Owner Rules:</strong> <%= @car.owner_rules %></p>

<%= link_to 'Back', cars_path, class: 'btn btn-primary' %>

<% if user_signed_in? && @car.user != current_user %>
  <%= link_to "Request to Rent", new_car_rental_path(@car), class: "btn btn-primary" %>
  <%= link_to "Message Owner", messages_path(recipient_id: @car.user.id), class: "btn btn-primary" %>
<% end %>

<% if current_user.admin? && @car.status == 'pending' %>
  <%= link_to 'Approve', approve_admin_car_path(@car), data: { turbo_method: :patch }, class: 'btn btn-success' %>
  <%= link_to 'Reject', reject_admin_car_path(@car), data: { turbo_method: :patch }, class: 'btn btn-danger' %>
<% end %>

<style>
.car-show-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.car-details p {
  font-size: 1em;
  margin: 5px 0;
}

.btn {
  margin: 10px 0;
}

</style>
