<!-- app/views/cars/show.html.erb -->
<h1><%= @car.car_name %></h1>

<p><strong>Make:</strong> <%= @car.car_make %></p>
<p><strong>Price per Day:</strong> <%= @car.price_per_day %></p>
<p><strong>Status:</strong> <%= @car.status %></p>

<%= link_to 'Back', cars_path, class: 'btn btn-primary' %>

<% if user_signed_in? && @car.user != current_user %>
  <%= link_to "Request to Rent", new_car_rental_path(@car), class: "btn btn-primary" %>
  <%= link_to "Message Owner", messages_path(recipient_id: @car.user.id), class: "btn btn-primary" %>
<% end %>
