<!DOCTYPE html>
<html>
<head>
  <title>Carsspot</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="google-api-key" content="<%= ENV['GOOGLE_API_BROWSER_KEY'] %>">
 
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" />

  </head>
  </head>
</head>

<body>
  <%= render "shared/navbar" %>
  <div id="flash">
    <%= render "shared/flashes" %>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
  <%= yield %>
    
  <!-- Updated reference to actioncable.js -->
  <%= javascript_include_tag 'actioncable' %>
  <script src="https://unpkg.com/es-module-shims@0.12.7/dist/es-module-shims.min.js" async></script>
   <script src="https://unpkg.com/html5-qrcode/minified/html5-qrcode.min.js"></script>
  

</body>
</html>
